//variables colors
$c-primary: #ffff33;
$primary: $c-primary;

$c-gray-100: #f8f8f8;
$c-gray-200: #eeeeee;
$c-gray-600: #b7b7b7;
$c-gray-800: #707070;
$c-gray-900: #444444;
$c-white: #ffffff;
$c-black: #000000;

//colors
$gray-100: $c-gray-100;
$gray-200: $c-gray-200;
$gray-600: $c-gray-600;
$gray-800: $c-gray-800;
$gray-900: $c-gray-900;

//border
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//fonts