.c-stat{
  h4{
    border-top: black 2px solid;
    background-color: $light;
  }
  list-style-type: none;
  text-align: center;
  p{
    background-color: $gray-500;
    color: $c-primary;
    font-size: 3rem;
    text-shadow: 0 0 5px black;
    font-weight: bold;
  }
}